<%- include('../partials/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
<%- include('../partials/headclose.ejs') %>

<main>
    <% if (errorMessage){ %>
      <div> <%= errorMessage %> </div>
    <% } %>

    <div class="radabox">
        <div class="img-responsive headimage">
            <img src="/assets/logo.png" alt="Logo">
        </div>

        <h1>Join SP Today!</h1>

        <form class="box" name="Signup" method="post">

            <input  id='name' type="text" placeholder="Username" name="name" autofocus>
            <input  id='email' type="email" placeholder="Email" name="email">
            <input  id="password" type="password" placeholder="Password" name="password">
            <input  id="repassword" type="password" placeholder="Repeat password" name="repassword">

            <input type="hidden" name="_csrf" value="<%- csrfToken %>">

            <button  type="submit" name="Button1" id="submitbutton" class="btn btn-primary full-width loginbtn" >
                Sign me in!
            </button>
            <br><br>
            <a  href="/users/login" name="HaveaccountButton">
                Login instead
            </a>
        </form>

    </div>

</main>

<%- include('../partials/end.ejs') %>
